* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #fff;
}

.left-column {
    height: 100vh;
    width: 20%;
    background-color: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.sunil-vip {
    border-radius: 50% !important;
    height: 25px;
    width: 25px;
}

.center-column {
    height: auto;
    color: #fff;
}

.right-column {
    height: auto;
    background-color: #000000;
    color: #fff;
}

.post {
    width: 100%;
    height: auto;
    background: #000000;
    margin-top: 40px;
    padding: 10px 0;
    box-shadow: #dfdfdf 0px 0px 1px;
    border-radius: 5px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username {
    width: auto;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}


.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.profile-pic .profile-pic_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.profile-pic img {
    border: none;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content {
    width: 100%;
    padding: 0px 20px;
}

.likes {
    font-weight: bold;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    font-size: 12px;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}

.stories {
    background-color: #000000;
    height: 120px;
    width: 600px;
    border-radius: 5px !important;
    box-shadow: 5px solid #ffffff !important;
    display: flex;
    position: relative;
    top: 0;
    right: 26px;
    margin-bottom: 50px;
}

.stories img {
    height: 100px;
    width: 100px;
    border-radius: 50% !important;
}


.right-col {
    padding: 20px;
}

.profile-card {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic {
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-card .username {
    font-weight: 500;
    font-size: 14px;
}

.sub-text {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.action-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion-text {
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;
}

@media (max-width: 1100px) {

    .right-col,
    .search-box {
        display: none;
    }

    .nav-wrapper,
    .wrapper {
        width: 90%;
    }

    .wrapper {
        display: block;
    }
}

@media (max-width: 500px) {
    .nav-items .icon {
        margin: 0 5px;
    }

    .post-image {
        height: 300px;
    }
}