{% extends 'base.html' %}
{% load static %}

{% block title %}
Instagram
{% endblock title %}

{% block content %}
<div>
    <div class="row">
        <div class="col-4">
            <div class="left-column p-4">
                <h1><a href="/" class="text-decoration-none text-white"> Instagram</a></h1>
                <ul class="list-unstyled">
                    <li class="py-3"><i class="fa-solid fa-house p-2"></i><a href="/"
                            class="text-decoration-none text-white"> Home</a></li>
                    <li class="py-3"><i class="fa-solid fa-magnifying-glass p-2"></i>Search</li>
                    <li class="py-3"><i class="fa-solid fa-compass p-2"></i>Explore</li>
                    <li class="py-3"><i class="fa-brands fa-facebook-messenger p-2"></i>Messages</li>
                    <li class="py-3"><i class="fa-regular fa-heart p-2"></i>Notification</li>
                    <li class="py-3"><i class="fa-regular fa-square-plus p-2"></i>Create</li>
                    <li class="py-3"><img src="/static/images/sunil-vip.jpg" alt="Image" class="m-2 sunil-vip">
                        Profile</li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="center-column">
                <section class="main">
                    <div class="wrapper">
                        <div class="left-col">
                            <div class="post">
                                <div class="info">
                                    <div class="user">
                                        <div class="profile-pic"><img src="" alt=""></div>
                                        <p class="username">modern_web_channel</p>
                                    </div>
                                    <img src="" class="options" alt="">
                                </div>
                                <img src="https://images.pexels.com/photos/1021693/pexels-photo-1021693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="post-image" alt="">
                                <div class="post-content">
                                    <div class="reaction-wrapper">
                                        <img src="" class="icon" alt="">
                                        <img src="" class="icon" alt="">
                                        <img src="" class="icon" alt="">
                                        <img src="" class="save icon" alt="">
                                    </div>
                                    <p class="likes">1,012 likes</p>
                                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet
                                        consectetur,
                                        adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut
                                        provident eum quo natus molestias?</p>
                                    <p class="post-time">2 minutes ago</p>
                                </div>
                                <div class="comment-wrapper">
                                    <img src="" class="icon" alt="">
                                    <input type="text" class="comment-box" placeholder="Add a comment">
                                    <button class="comment-btn">post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-4">
            <div class="right-column">
                <!-- <ul class="list-unstyled">
                    <li class="py-3"><i class="fa-solid fa-house p-2"></i>Home</li>
                    <li class="py-3"><i class="fa-solid fa-magnifying-glass p-2"></i>Search</li>
                    <li class="py-3"><i class="fa-solid fa-compass p-2"></i>Explore</li>
                    <li class="py-3"><i class="fa-brands fa-facebook-messenger p-2"></i>Messages</li>
                    <li class="py-3"><i class="fa-regular fa-heart p-2"></i>Notification</li>
                    <li class="py-3"><i class="fa-regular fa-square-plus p-2"></i>Create</li>
                    <li class="py-3"><img src="/static/images/sunil-vip.jpg" alt="Image" class="m-2">
                        Profile</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}