{% extends 'base.html' %}
{% load static %}

{% block title %}
Instagram
{% endblock title %}

{% block content %}
<div>
    <div class="row">
        <div class="col-4">
            <div class="left-column p-4">
                <h1><a href="/" class="text-decoration-none text-white"> Instagram</a></h1>
                <ul class="list-unstyled">
                    <li class="py-3"><i class="fa-solid fa-house p-2"></i><a href="/"
                            class="text-decoration-none text-white"> Home</a></li>
                    <li class="py-3"><i class="fa-solid fa-magnifying-glass p-2"></i>Search</li>
                    <li class="py-3"><i class="fa-solid fa-compass p-2"></i>Explore</li>
                    <li class="py-3"><i class="fa-brands fa-facebook-messenger p-2"></i>Messages</li>
                    <li class="py-3"><i class="fa-regular fa-heart p-2"></i>Notification</li>
                    <li class="py-3"><i class="fa-regular fa-square-plus p-2"></i>Create</li>
                    <li class="py-3"><img src="/static/images/sunil-vip.jpg" alt="Image" class="m-2 sunil-vip">
                        Profile</li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="center-column">
                <div class="stories row m-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <img src="https://images.pexels.com/photos/3289850/pexels-photo-3289850.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                            alt="hello">
                    </div>
                    <div class="col">
                        <img src="https://images.pexels.com/photos/2095945/pexels-photo-2095945.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                            alt="hello">
                    </div>
                    <div class="col">
                        <img src="https://images.pexels.com/photos/617963/pexels-photo-617963.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                            alt="hello">
                    </div>
                    <div class="col">
                        <img src="https://images.pexels.com/photos/2068793/pexels-photo-2068793.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                            alt="hello">
                    </div>
                </div>
                <section class="main">
                    <div class="wrapper">
                        <div class="left-col">
                            <div class="post">
                                <div class="info">
                                    <div class="user">
                                        <div class="profile-pic"><img
                                                src="https://images.pexels.com/photos/2068793/pexels-photo-2068793.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                                alt="" class="profile-pic_img"></div>
                                        <p class="username">modern_web_channel</p>
                                    </div>
                                    <img src="" class="options" alt="">
                                </div>
                                <img src="https://images.pexels.com/photos/1021693/pexels-photo-1021693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    class="post-image" alt="">
                                <div class="post-content">
                                    <div class="reaction-wrapper">
                                        <ul class="list-inline mt-4">
                                            <li class="list-inline-item pt-3"><i
                                                    class="icon fa-regular fa-heart text-white"></i></li>
                                            <li class="list-inline-item pt-3"><i
                                                    class="icon fa-regular fa-comment text-white"></i></li>
                                            <li class="list-inline-item pt-3"><i
                                                    class="fa-regular fa-share-from-square"></i></li>
                                        </ul>
                                        <a href="#" class="save icon" alt=""><i
                                                class="fa-solid fa-bookmark pt-3 text-white"></i></a>
                                    </div>
                                    <p class="likes">1,012 likes</p>
                                    <p class="description"><span>Jennifer </span> Lorem ipsum dolor sit amet
                                        consectetur,
                                        adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut
                                        provident eum quo natus molestias?</p>
                                    <p>View all 72 comments</p>
                                    <p class="post-time">2 minutes ago</p>
                                </div>
                                <hr>
                                <div class="comment-wrapper">
                                    <img src="" class="icon" alt="">
                                    <input type="text" class="comment-box btn" placeholder="Add a comment">
                                    <button class="btn text-light">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-4">
            <div class="right-column ml-4">
                <section class="main">
                    <div class="wrapper">
                        <div class="right-col">
                            <div class="profile-card">
                                <div class="profile-pic">
                                    <img src="https://images.pexels.com/photos/2068793/pexels-photo-2068793.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                        alt="">
                                </div>
                                <div>
                                    <p class="username">modern_web_channel</p>
                                    <p class="sub-text">kunaal kumar</p>
                                </div>
                                <a href="" type="submit" class="btn text-primary">Switch</a>
                            </div>
                            <p class="suggestion-text">Suggestions for you</p>
                            <div class="profile-card">
                                <div class="profile-pic">
                                    <img src="https://images.pexels.com/photos/2269873/pexels-photo-2269873.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                        alt="">
                                </div>
                                <div>
                                    <p class="username">modern_web_channel</p>
                                    <p class="sub-text">followed bu user</p>
                                </div>
                                <a href="" type="submit" class="btn text-primary">Follow</a>
                            </div>
                            <div class="profile-card">
                                <div class="profile-pic">
                                    <img src="https://images.pexels.com/photos/1808766/pexels-photo-1808766.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                        alt="">
                                </div>
                                <div>
                                    <p class="username">modern_web_channel</p>
                                    <p class="sub-text">followed bu user</p>
                                </div>
                                <a href="" type="submit" class="btn text-primary">Follow</a>
                            </div>
                            <div class="profile-card">
                                <div class="profile-pic">
                                    <img src="https://images.pexels.com/photos/2879585/pexels-photo-2879585.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                        alt="">
                                </div>
                                <div>
                                    <p class="username">modern_web_channel</p>
                                    <p class="sub-text">followed bu user</p>
                                </div>
                                <a href="" type="submit" class="btn text-primary">Follow</a>
                            </div>
                            <div class="profile-card">
                                <div class="profile-pic">
                                    <img src="https://images.pexels.com/photos/1460790/pexels-photo-1460790.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                        alt="">
                                </div>
                                <div>
                                    <p class="username">modern_web_channel</p>
                                    <p class="sub-text">followed bu user</p>
                                </div>
                                <a href="" type="submit" class="btn text-primary">Follow</a>
                            </div>
                            <div class="profile-card">
                                <div class="profile-pic">
                                    <img src="https://images.pexels.com/photos/3225901/pexels-photo-3225901.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                                        alt="">
                                </div>
                                <div>
                                    <p class="username">modern_web_channel</p>
                                    <p class="sub-text">followed bu user</p>
                                </div>
                                <a href="" type="submit" class="btn text-primary">Follow</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock content %}